@import "./variables.less";

.link {
  &:after {
    display: none;
  }

  &__title {
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 1px;
      content: '';
      background-color: transparent;
    }
  }

  &:hover {
    .link__title {
      &:after {
        background-color: @white;
      }
    }
  }

  &__dot {
    border-radius: 100%;
    background-color: @white;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 16px;
    vertical-align: bottom;
  }
}