/*
  Font Size Classes
*/

/* Body Text Font Size */
.fs-b {
  font-size: 1rem;// 18px
  line-height: 1.277;// 23pxs
}

/* Small Font Size */
.fs-sm {
  font-size: 0.67rem;
}

/* Medium Font Size */
.fs-md {
  .mq-md({
    font-size: 1.34rem;
    line-height: 1.15;
  });
}

/* Large Font Size */
.fs-lg {
  font-size: 1.34rem;
  line-height: 1.15;

  .mq-md({
    font-size: 2.422rem;
  });
}

/*
  Global Type Styles
*/

p {
  margin-top: 0;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h2, h3 {
  .fs-b;
}

b, strong {
  font-weight: normal;
}

a {
  color: @white;
  text-decoration: none;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    content: '';
    background-color: transparent;
  }

  &:hover {
    &:after {
      background-color: @white;
    }
  }  
}
